<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 //EN">
<html>
<head>
  <title>Title Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<!--parallax 1 -->
<div class="row">
  <div class="col-lg-3" style="position:fixed">  
	</div>
<div class="bg"></div>
<div class="jumbotron center">
  <h1>Centric Gaming</h1>
  <p class="lead">Under Construction</p>
  <%= image_tag('logo2.png',  :size => "50x50")%>
</div>


<div class="container text-center">
<div class="row">
	  <div class="col-sm-4">
	    <div class="thumbnail">
	      <%= image_tag('cod.jpg',  :size => "500x500") %>
	      <div class="caption">
      	 <h3>Philly Invitational- Fighting Adversity</h3>
      </div>
	    </div>
		</div>

  <div class="col-sm-4">
    <div class="thumbnail">
      <%= image_tag('battlefield-1.jpg',  :size => "500x500") %>
      <div class="caption">
        <h3>Top 5 Kills of the Week</h3>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="thumbnail">
    	 <%= image_tag('gta_online.jpg',  :size => "500x500") %>
      <div class="caption">
      	 <h3>Catching Bodies Left n' Right</h3>
      </div>
    </div>
    </div>
  </div>
  	</div>
	</div>
<div>	

<body>
<div class="container text-center">
  <h3>The Squad</h3>
  <p><em>Spotlight Players</em></p>
  <br>
  <div class="row">
		<div class="col-sm-4">
    	<div class="thumbnail">
	      <h3><strong>KyreeMoney24</strong></h3><br>
	      <%= image_tag('km.jpg',  :size => "320x240") %>
    	</div>
		</div>

    <div class="col-sm-4">
    	<div class="thumbnail">
	      <h3><strong>Birds</strong></h3><br>
	      <%= image_tag('birds.png',  :size => "320x240") %>
    	</div>
    </div>

    <div class="col-sm-4">  
			<div class="thumbnail">
				<h3><strong>Clutch</strong><h3><br>
      	<%= image_tag('throne.jpg',  :size => "320x240") %>
    	</div>
    </div>
  </div>
</div>
</body>
</html>
