<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 //EN">
<html>
<head>
  <title>Title Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<!--parallax 1 -->
<div class="row">
  <div class="bg-members"></div>
    <div class="jumbotron-members center">
      <h1>Centric Gaming Official</h1>
      </div>
    </div>
  </div>
<div class="container text-center">
  <div class="row">
      <div class="jumbotron-members center">
           <h1>Grand Theft Auto</h1>
      </div>
        
      <div class="col-sm-4">
        <div class="row" id="box-search">
          <div class="thumbnail-members text-center">
            <%= image_tag('km.jpg',  :size => "300x300") %>
          <div class="caption-members-white">
           <h3>KyreeMoney24</h3>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="row" id="box-search">
        <div class="thumbnail-members text-center">
             <%= image_tag('waiters.jpg',  :size => "300x300") %>
          <div class="caption-members">
           <h2>Loc the Protégé</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="row" id="box-search">
        <div class="thumbnail-members text-center">
            <%= image_tag('gta4.png',  :size => "300x300") %>
          <div class="caption-members-white">
                <h2>BirdsEyeView</h2>    
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container text-center">
  <div class="row">
      <div class="jumbotron-members center">
           <h1>Battlefield 1</h1>
      </div>
        
      <div class="col-sm-4">
        <div class="row" id="box-search">
          <div class="thumbnail-members text-center">
            <%= image_tag('clown.jpg',  :size => "300x300") %>
          <div class="caption-members-white">
           <h3>TheClownBozo</h3>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="row" id="box-search">
        <div class="thumbnail-members text-center">
             <%= image_tag('cod.jpg',  :size => "300x300") %>
          <div class="caption-members-white">
           <h2>Bob Fisher</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="row" id="box-search">
        <div class="thumbnail-members text-center">
            <%= image_tag('birds.png',  :size => "300x300") %>
          <div class="caption-members">
                <h2>BirdsEyeView</h2>    
          </div>
        </div>
      </div>
    </div>

</body>
</html>